p {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  color: white;
  margin-left: 50px;
  margin-top: 300px;
}
.data-container {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  margin: 20px 100px 0 0;
  height: 540px;
  width: 475px;
  border-radius: 10px;
  background-image: url("../../Images/gameBackground.png");
  .data-inner-container {
    display: flex;
    text-align: center;
    flex-direction: column;
    h1 {
      font-size: 3.4rem;
      margin: 30px 0 10px;
      color: white;
      font-family: "Roboto", sans-serif;
      color: white;
    }
    h2 {
      font-size: 2.3rem;
      color: white;
      font-family: "Roboto", sans-serif;
      margin: 10px 0 0 0;
    }
  }
}
.map-container {
  display: flex;
  justify-content: center;

  .graph-container {
    width: 1000px;
    height: 1000px;
    background-image: url("../../Images/gameBackground.png");
    border: 2px solid black;
    border-radius: 15px;
  }
}
svg {
  width: 1000px !important;
  height: 1000px !important;
}

.gr__multi-user-dungeon_netlify_com {
  background-image: url("../../Images/LandingBackground.jfif");
  height: 100vh;
}
.gr__localhost {
  background-image: url("../../Images/LandingBackground.jfif");
  height: 100vh;
}
.graph {
  height: 80%;
}
.controls-container {
  height: 42%;

  width: 15%;
  display: flex;
  flex-direction: column;

  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  margin: 20px 0 0 100px;
  background-image: url("../../Images/gameBackground.png");
  .hub-right-heading {
    font-size: 3.5rem;
    font-family: "Roboto", sans-serif;
    color: white;
    margin-top: 20px;
  }
  .controls-buttons {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
    .direction-controls {
      width: 60%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;

      .direction-button {
        height: 85px;
        width: 85px;
        background-color: #2a3439;
        border-radius: 10px;
        margin: 10px 0 0 25px;
        color: white;
        font-size: 3rem;
        font-family: "Roboto", sans-serif;
        cursor: pointer;
        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }
}
